@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  border-style: solid;
  border-width: 0;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
}

textarea {
  border: none;
}
